body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none !important;
}

.title h1{
  font-size: 30px;
  margin-top: 3rem;
  font-weight: 700;
}
#dark .title h1{
  color: white;
}
.themeColor{
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}
/* width */
.themeColor::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.themeColor::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.themeColor::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

#dark{
  background-color: black;
}

.themeSwitch{
  position: absolute;
  top: 30%;
  left: 0;
}